@import url("https://fonts.googleapis.com/css2?family=Advent+Pro:ital,wght@0,600;0,700;1,600&family=Inter:wght@500;600;700;900&family=Montserrat:ital,wght@0,500;1,500&family=Outfit:wght@500;600&family=Poppins:ital,wght@0,200;0,300;1,400&family=Righteous&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Advent+Pro:ital,wght@0,600;0,700;1,600&family=Inter:wght@500;600;700;900&family=Montserrat:ital,wght@0,500;1,500&family=Outfit:wght@500;600&family=Poppins:ital,wght@0,200;0,300;1,400&family=Righteous&family=Rubik&display=swap");
@import '../../App.scss';

.wrapper {
  display: flex;
  justify-content: space-evenly;
  height: calc(100vh - 68px);
  width: 100%;
  overflow: hidden;

  @include mobile{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    // min-width: 100%;
}
@include tablet{
  flex-direction: column;
    align-items: center;
    justify-content: center;
}
}

.homeTexts {
  width: 100%;
  padding: 2rem;

  @include mobile{
    width: 100%;
    padding: 1rem;
    text-align: center;
  }
  @include tablet{
  //   width: 100%;
  //   padding: 1rem;
    text-align: center;
  }

  h1 {
    color: var(--primary-color);
    font-family: "Righteous", sans-serif;
    letter-spacing: 2px;
    position: relative;
    top: 25%;
    font-size: 8vh;
    // padding: 2rem;

    @include mobile{
      padding: 0;
      font-size: 3vh;
      top: -59%;
    }
    @include tablet{
      padding: 0;
      font-size: 5vh;
      top: -29%;
    }
  }
  h5 {
    color: var(--accent-color);
    position: relative;
    top: 25%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-family: "Rubik", sans-serif;
    letter-spacing: 1px;

    
    @include mobile{
      padding-top: .3rem;
      padding-bottom: .3rem;
      top: -50%;
    }
    @include tablet{
      padding-top: .4rem;
      padding-bottom: .4rem;
      top: -20%;
    }
  }

  button {
    position: relative;
    top: 25%;
    border: 2px solid var(--primary-color);
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: transparent;
    color: var(--secondary-color);

    @include mobile{
      top: -30%;
    }
    @include tablet{
      top: -10%;
    }
  }
  button:hover {
    cursor: pointer;
    
  }
  button::before {
    content: "";
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    border: 5px solid #1e9b7b;
    opacity: 0.5;
    filter: blur(9px);
  }
  button:hover::before {
    opacity: 0.8;
    filter: blur(19px);
  }
  button:hover::after {
    // opacity: 0.8;
    filter: blur(2px);
  }
  button::after {
    content: "GET IN TOUCH";
    position: absolute;
    left: -1px;
    right: -1px;
    filter: blur(5px);
  }
}

.image-container {
  position: relative;
  // width: 100%;

  @include tablet{
    // width: 100%;
  }

  img {
    margin-left: 7rem;
    height: 100%;
    // width: 100%;

    @include mobile{
      width: 100%;
      margin: 0;
    }
    @include tablet{
      // width: 100%;
      height: 70vh;
      margin: 0;
    }
  }

  .overlay {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;

    .star1 {
      width: 11px;
      height: 11px;
      border-radius: 50%;
      background-color: white;
      filter: blur(3px);
      position: absolute;
      top: 15%;
      left: 40%;
    }
    .star2 {
      width: 3px;
      height: 3px;
      background-color: white;
      filter: blur(2px);
      position: absolute;
      top: 20%;
      left: 60%;
    }
    .star3 {
      width: 4px;
      height: 4px;
      background-color: white;
      filter: blur(2px);
      position: absolute;
      top: 10%;
      left: 80%;
    }
    .star4 {
      width: 6px;
      height: 6px;
      background-color: white;
      filter: blur(2px);
      position: absolute;
      top: 28%;
      left: 65%;
    }
    .star5 {
      width: 6px;
      height: 6px;
      background-color: white;
      filter: blur(1px);
      border-radius: 50%;
      position: absolute;
      top: 25%;
      left: 78%;
    }
    .star6 {
      width: 5px;
      height: 5px;
      border-radius: 50%;
      background-color: white;
      filter: blur(.7px);
      position: absolute;
      top: 55%;
      left: 90%;
    }
    .star7 {
      width: 9px;
      height: 9px;
      background-color: white;
      filter: blur(2px);
      border-radius: 50%;
      position: absolute;
      top: 85%;
      left: 80%;
    }
    .star8 {
      width: 4px;
      height: 4px;
      background-color: white;
      filter: blur(2px);
      position: absolute;
      top: 65%;
      left: 10%;
    }
    .star9 {
      width: 4px;
      height: 4px;
      background-color: white;
      border-radius: 50%;
      filter: blur(1px);
      position: absolute;
      top: 48%;
      left: 30%;
    }
    .star10 {
      width: 4px;
      height: 4px;
      border-radius: 50%;
      background-color: white;
      filter: blur(1px);
      position: absolute;
      top: 1%;
      left: 60%;
    }
    .star1:hover,
    .star2:hover,
    .star3:hover,
    .star4:hover,
    .star5:hover,
    .star6:hover,
    .star7:hover,
    .star8:hover,
    .star9:hover,
    .star10:hover {
      transform: scale(3);
    }
  }
}
.runningText {
  color: #1e9b7b;
  position: absolute;
  bottom: -30px;
  font-size: 27vh;
  color: #222222;
  font-weight: bolder;
  z-index: -1;
  // width: 100%;
  // filter: inherit;

  @include mobile{
    font-weight: bolder;
    font-size: 15vh;
    bottom: -5%;
  }
}
