@import '../../App.scss';

.contact{
    background-color: black;
    margin-top: 50px;

    h1{
        color: var(--secondary-color);
        font-size: 7vh;
        text-align: center;
        padding: 6vh;

        @include mobile{
           font-size: 3vh;
        }
    }
    span{
        color: var(--primary-color);
    }

    .contactwrapper{
        display: flex;
        justify-content: center;
        align-items: center;

        @include mobile{
            flex-direction: column;

            svg{
                margin-left: 22%;
            }
        }

        .inputwrapper{

            width: 40%;
            display: flex;
            flex-direction: column;
            background: linear-gradient(to bottom, #021410, black);
            align-items: end;
            border-radius: 25px;

            @include mobile{
                width: 90%;
            }

            input{
                border-radius: 15px;
                border: none;
                background-color: rgb(37, 37, 37);
                height: 40px;
                width: 70%;
                margin-top: 25px;
                margin-right: 15%;

            }
            textarea{
                border-radius: 10px;
                border: none;
                background-color: rgb(37, 37, 37);
                width: 70%;
                margin-top: 25px;
                margin-right: 15%;
                resize: none;

            }

            input::placeholder,textarea::placeholder{
                color: rgb(90, 84, 84);
                text-indent: 10px;
            }

            button{
                background-color: #136e59;
                color: var(--secondary-color);
                border: none;
                padding-top: 0.6rem;
                padding-bottom: 0.6rem;
                padding-left: 1rem;
                padding-right: 1rem;
                border-radius: 10px;
                font-weight: bolder;
                margin-right: 15%;
                margin-top: 10px;

            }
        }

        .details{
            width: 40%;
            display: flex;
            flex-direction: column;
            align-items: center;

            @include mobile{
              width: 100%;
              margin-top: 30px;
            }

            .phone{
                display: flex;
                align-items: center;
                width: 60%;

                @include mobile{
                    // justify-content: center;
                    width: 100%;

                    svg{
                        // margin-right: 10px;
                    }
                   }
                p{
                    color: var(--secondary-color);
                    font-size: 3vh;
                    margin-left: 35px;

                    @include mobile{
                        font-size: 15px;
                       }

                }
               
            }
            .mail{
                display: flex;
                align-items: center;
                width: 60%;
                margin-top: 20px;
                margin-bottom: 20px;
                @include mobile{
                    // justify-content: center;
                   }
                p{
                    color: var(--secondary-color);
                    font-size: 3vh;
                    margin-left: 35px;

                    @include mobile{
                       font-size: 15px;
                    //    margin-left: 60px;
                      }
                }
                @include mobile{
                    width: 100%;
                  }
            }
            .address{
                color: var(--secondary-color);
                display: flex;

                @include mobile{
                    justify-content: center;
                   }

                .addressLine{
                    margin-left: 20px;
                }

                p{
                    font-size: 3vh;

                    @include mobile{
                     font-size: 15px;
                      }
                }
            }
            img{
                height: 100px;
                
                @include mobile{
                    height: 50px;
                    margin-top: 10px;
                   }
            }
            svg{
                height: 50px;
                width: 50px;
            }
        }
    }
}