@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:ital,wght@0,600;0,700;1,600&family=Inter:wght@500;600;700;900&family=Montserrat:ital,wght@0,500;1,500&family=Outfit:wght@500;600&family=Poppins:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:ital,wght@0,600;0,700;1,600&family=Inter:wght@500;600;700;900&family=Montserrat:ital,wght@0,500;1,500&family=Outfit:wght@500;600&family=Poppins:ital,wght@0,200;0,300;1,400&display=swap');

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;

    span{
        color: var(--primary-color);
        font-size: 29px;
    }

    .navigation-wrapper{
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        h4{
            color: var(--secondary-color);
            margin-right: 5rem;
            position: relative;
            display: inline-block; 

            // @include mobile{
            //     margin-right: 2rem;
            // }
        }
        h4:hover{
            cursor: pointer;
        }
        h4::after {
            content: "";
            width: 0; 
            height: 2px;
            position: absolute;
            bottom: 0;
            left: 50%;
            background-color: var(--primary-color); 
            transform: translateX(-50%);
            transition: width 0.5s ease;
        }
        
        h4:hover::after {
            width: 100%;
        }

        button{
            margin-right: 5rem;
            background-color: var(--primary-color);
            padding-right: 1.4rem;
            padding-left: 1.4rem;
            padding-top: .5rem;
            padding-bottom: .5rem;
            border-radius: 10px;
            border: none;
            font-family: 'Poppins', sans-serif;
            letter-spacing: 1px;
            color: #000000;
        }
        button:hover{
            cursor: pointer;
            color: var(--accent-color);
            transition: 0.4s;
        }
    }
    
    h2{
        color: var(--secondary-color);
        font-family: 'Advent Pro', sans-serif;
        margin-left: 6%;
        font-size: 1.5rem;
    }
}